{% extends "documents/base.html" %}
{% block documents %}
<div class="card-body">
    <h4>Document List</h4>

    <!-- Search Form -->
    <form method="GET" action="{% url 'document-list-search' %}">
        <div class="form-group">
            <label>
                <input type="text" name="q" class="form-control" placeholder="Search...">
            </label>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Embedding</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.title }}</td>
                <td>{{ document.description }}</td>
                <td>{{ document.embedding }}</td>
                <td>{{ document.status }}</td>
                <td>
                {% if document.similarity %}
                    {{ document.similarity }}
                {% endif %}
            </td>
                <td><a type="button" class="btn btn-warning" href="update/{{ document.id }}">Update</a>
                    <a type="button" class="btn btn-danger" href="delete/{{ document.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{%url 'document-create' %}">Create</a>
</div>
{% endblock %}
